.header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(25, 25, 58);
  border-bottom: 1px solid #e5e7eb;
  margin:0;
  padding:1rem;
}

.header h1 {
  color: white;
  margin: 0;
  font-size: 1.25rem;
}
nav a{
    color:pink;
    text-decoration:none; 
    gap: 2rem;
    text-transform: uppercase;
}
nav {
    display:flex;
    gap: 2rem;
}