---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Favorite Artist</title>
	</head>
	<body>
		<h1>Welcome to My Favorite Artist's Site 1</h1>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a> 
			<a href="/tour">Tour</a> 
			<a href="/playlist">Playlist</a>
		</nav>
		<article>
			<h2>Birdy (singer)</h2>
			
			<p>Jasmine Lucilla Elizabeth Jennifer van den Bogaerde, known professionally as Birdy, is a British singer.</p>
			<p>Birdy was born on 15 May 1996, in Lymington, Hampshire. Her mother is a concert pianist, and Birdy learned to play piano at the age of seven, and began writing her own music at the age of eight. Birdy currently studies at Brockenhurst College in Brockenhurst, a sixth form college in the New Forest; she sings and plays the piano. Her great uncle was the actor Sir Dirk Bogarde. She has English, Belgian (Flemish), and Dutch ancestry.</p>
			<p>Her stage name comes from her nickname her parents gave her as a baby because she opened her mouth like a little bird when fed. Her whole family calls her Birdy while friends, especially at school, call her Jasmine, her given name. Other members of the public call her O'Doyle.</p>
		</article>
</body>
</html>
